.about-main {
    display: flex;
    height: 50vh;
    gap: 1rem;
}

.about-subhead,
.about-info {
    font-size: 1rem;
    font-weight: bold;
}

.about-info {
    margin-top: 1rem;
}

.about-heading {
    font-size: 3rem;
    margin-top: 0.25rem;
    font-weight: bold;
}

.about-content {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-scroll__container {
    /* border: 2px solid blue; */
    height: 100%;
    overflow: scroll;
}

@media only screen and (max-width: 1280px) {
    .about-main {
        flex-direction: column;
        height: 80vh;
        margin-bottom: 4rem;
    }
    .about-scroll__container {
        margin-top: 2rem;
    }
    .about-content {
        text-align: center;
    }
}

@media only screen and (max-widht: 768px) {
    .about-scroll__container {
        width: 90%;
    }
}
